@media screen and (max-width: 1200px) {
    *{
        font-size: 14px;
    }

    .w__tab--10 {
        width: 10%;
    }

    .w__tab--20 {
        width: 20%;
    }

    .w__tab--30 {
        width: 30%;
    }

    .w__tab--40 {
        width: 40%;
    }

    .w__tab--50 {
        width: 50%;
    }

    .w__tab--60 {
        width: 60%;
    }

    .w__tab--70 {
        width: 70%;
    }

    .w__tab--80 {
        width: 80%;
    }

    .w__tab--90 {
        width: 90%;
    }

    .w__tab--100 {
        width: 100%;
    }

    .float__tab--right {
        float: right;
    }

    .float__tab--left {
        float: left;
    }

    .tab--row {
        overflow: hidden;
    }

    .container{
        position: static;
    }
}

@media screen and (max-width: 576px) {
    *{
        font-size: 14px;
    }

    .w__mobile--10 {
        width: 10%;
    }

    .w__mobile--20 {
        width: 20%;
    }

    .w__mobile--30 {
        width: 30%;
    }

    .w__mobile--40 {
        width: 40%;
    }

    .w__mobile--50 {
        width: 50%;
    }

    .w__mobile--60 {
        width: 60%;
    }

    .w__mobile--70 {
        width: 70%;
    }

    .w__mobile--80 {
        width: 80%;
    }

    .w__mobile--90 {
        width: 90%;
    }

    .w__mobile--100 {
        width: 100%;
    }

    .float__mobile--right {
        float: right;
    }

    .float__mobile--left {
        float: left;
    }

    .mobile--row {
        overflow: hidden;
    }

    .display__mobile--none{
        display: none;
    }

    .text__mobile--center{
        text-align: center;
    }
}