header{
    width: 100%; 
    padding: 3.2rem 4rem;
    overflow: hidden;
}

footer{
    width: 100%; 
    overflow: hidden;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
